#divopacity {
	position: absolute;
	width: 50%;
	left: 25%;
	top: 20%;
	background-color: white;
	padding: 30px;
	border-radius: 5px;
	color: #5e000e;
	display: none;
}



#divFormSignal h5 {

	color: #5e000e;
	font-size: 20px;
}


.radioSignal {
	margin-left: 50px;
	margin-top: 10px;
}

#textAutreRaison {
	width: 80%;
	margin-left: 10%;
	height: 100px;
	opacity: 0;
	transition: opacity 0.5s;
}

#signaler {
	width: 40%;
	margin: auto;
	display: block;
	padding: left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #c6002b;
	background-color: #c6002b;
	border-radius: 5px;
	color:white;
}

#divFormSignal {

	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	background: rgba(169, 169, 169, 0.7);
	transition: opacity 0.5s;
	display: none;

}

@media screen and (max-width:768px) {

	#divopacity {

		font-size: 10px;
		height: auto;
		width: 80%;
		left: 10%;

	}


}


@media screen and (max-width:390px) {

	#divopacity {

		font-size: 10px;
		height: auto;
		width: 90%;
		left: 5%;
		padding: 10px;

	}

	#divFormSignal {

		padding-left: 10px;

	}

	#divFormSignal h5 {

		font-size: 12px;
		text-align: center;
		
	}

	#signaler {

		width: 60px;

	}

	.radioSignal {

	margin-left: 5px;
	margin-top: 1px;
	
	}

	
}






