#divFormSignal {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 20%;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#divFormSignal h5 {
	margin-bottom: 20px;
	text-align: center;
	color: #5e000e;
}



#css {
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 15px;
}

#textAutreRaison {
	width: 90%;
	left: 5%;
	height: 100px;
	height: 0px;
	opacity: 0;
	-webkit-transition: opacity 0.75s;
	-moz-transition: opacity 0.75s;
	-o-transition: opacity 0.75s;
	transition: opacity 0.75s;
}

#signaler {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #c6002b;
	background-color: #c6002b;
	color: white;
	border-radius: 5px;
	text-align: center;
}

#modalForm {
	position: fixed;
	background-color: grey;
	height: 100%;
	width: 100%;
	top: 0%;
	background: rgba(169, 169, 169, 0.7);
	transition: opacity 0.5s;
	opacity: 0;
	display: none;
}

#croixSignal {
	text-decoration: none;
	position: absolute;
	top: 3%;
	right: 5%;
	color: #c6002b;
	font-weight: bold;
}

#croixSignal:hover {
	text-decoration: none;
}

#reponseSignal {
	margin-top: 20px;
	border: 1px solid #c6002b;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
}

@media screen and (min-width: 576px) { 			/* largeur mobile */


  	#formSignal {
  		width: 80%;
  	}

  	#css {
  		width: 60%;
  		margin-left: 30%;
  	}

}

@media screen and (min-width: 768px) { 			/* largeur mobile */

  	#divFormSignal {
  		width: 70%;
  		left: 15%;
  	}

}

@media screen and (min-width: 992px) { 			/* largeur mobile */

  	#divFormSignal {
  		width: 50%;
  		left: 25%;
  	}


}

@media screen and (min-width: 1200px) { 			/* largeur mobile */


	#formRechercheNum {
  		width: 20%;
  		left: 40%;
  	}

  	#css {
  		margin-left: 33%;
  	}

}






