* {
  box-sizing: border-box;
}

body {
  background-image: url(../graphisme/graphismes/images/fond-commentaire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

p {
  margin: 0;
}

section {
  margin: auto;
  margin-top: 50px;
  width: 70%;
  box-shadow: 2px 2px 5px grey;
}

.lien {
  color: #ff002b;
  font-size: 0.8em;
  font-style: italic;
}

h4 {
  background-color: #1a1a1a;
  color: white;
  font-size: 1.5em;
  margin: 0;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.numero {
  background-color: white;
  border-bottom: 2px dotted #c6002b;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.haut_numero {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.numeroTel {
  color: #c6002b;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em;
}

.bas_numero {
  align-items: baseline;
  display: flex;
}

.bas_numero p {
  font-size: 0.9em;
  margin-right: 20px;
  font-weight: bold;
}

.type {
  font-size: 3em;
  text-transform: uppercase;
}

.nbreCommentaires {
  color: #ff002b;
  font-size: 1.6em;
  font-style: normal;
}

.commentaire {
  background-color: white;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  padding: 20px 10px 20px 10px;
  width: 100%;
}

.texteCommentaire {
  margin: 20px 0 20px 0;
}

.date {
  align-self: flex-end;
  font-style: italic;
}

.signalCommentaire {
  align-self: flex-end;
}

.ajoutCom {
  align-self: flex-end;
}



@media all and (max-width: 768px){
  section {
    margin: 0;
    width: 100%;
  }
  h4 {
    font-size: 2em;
    text-align: center;
  }
  .numero, .commentaire {
    box-sizing: border-box;
    padding: 20px;
  }
}

@media all and (min-width: 1920px){
  section {
    width: 80%;
  }
}



