body {
	margin: 0px;
	padding: 0px;
}

header {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

header a {
	display: block;
	text-decoration: none;
	text-align: right;
	color: #c6002b;
	font-weight: bold;
}

#headerDiv2 {
	margin-top: 10px;
}

header a:hover {
	text-decoration: none;
	color: #c6002b;
}

#sectionAccueil {
	position: relative;
}

#sectionAccueil img {
	width: 100%;
}

#sectionAjout {
	background-color: #FFFFFF;
	text-align: center;
	padding-bottom: 20px;
}

#sectionAjout h4 {
	color: #5e000e;
}

#lienAjoutNumero {
	text-decoration: none;
}

#articleAjout {
	background-color: #c6002b;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px black;
}


#articleAjout p {
	padding: 10px;
	color: white;
}

#lienRechercheNum {
	text-decoration: none;
}

#articleRecherche {
	background-color: #5e0d0e;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 15px;
	box-shadow: 0px 0px 10px black;
}

#articleRecherche p {
	color: white;
	padding: 10px;
}

#formRechercheNum {
	text-align: center;
	background-color: blue;
	position: fixed;
	width: 60%;
	left: 20%;
	top: 30%;
	opacity: 0;
	display: none;
	transition: opacity 1s;
}

@media screen and (min-width: 470px) { 			/* largeur mobile */

  	#sectionAccueil img {
		width: 80%;
		margin-left: 10%;
	}

}

