label{
/*        background-color: red;*/
        width: 150px;
        display: block;
        float: left;
        
        
}

body{
    background-image: url(../graphisme/graphismes/images/fond-commentaire.jpg);
}
.prefix{
    width: 80px;
    border-radius: 10px;
    border:1px solid #3c3c3b;
   
    min-height: 40px;
}
header {

    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c6002b;
}

#headerDiv2 {
    margin-top: 10px;
    text-align: left;
}

header a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: white;
    font-weight: bold;
}

header a:hover {
    color: white;
    text-decoration: none;
}

#numero{
width: 215px;    
    
}
#h1{
    
    font-size: 45px;
    color:#5e000e;
    text-align: center;
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
}


.input{
    border-radius: 10px;
    min-height: 40px;
    border:1px solid #3c3c3b;
    width: 300px;
}

form{
   
    text-align: center;
    margin-top: 30px;
  
    
}

small {
    color: #c6002b;
}

span {
    color: #3c3c3b;
    font-weight: bold;
}


.bouton{
    
width: 150px;
height: 50px;
border-radius: 20px;
border:1px solid #5e000e;
background-color: #5e000e;
color: aliceblue;
cursor: pointer;
    
}

@media screen and (min-width: 992px) {          /* largeur mobile */
    
    #headerDiv2 {
        font-size: 20px;
    }

}
