body {
	margin: 0px;
	padding: 0px;
}

header {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

header a {
	display: block;
	text-decoration: none;
	text-align: right;
	color: #c6002b;
	font-weight: bold;
}

#headerDiv2 {
	margin-top: 10px;
	text-align: left;
}

header a:hover {
	text-decoration: none;
	color: #c6002b;
}

#sectionAccueil {
	position: relative;
}

#sectionAccueil img {
	width: 100%;
}

#sectionAjout {
	background-color: #FFFFFF;
	text-align: center;
}

#sectionAjout h4 {
	color: #5e000e;
}

#lienAjoutNumero {
	text-decoration: none;
	height: 210px;
	margin-top: 30px;
}

#articleAjout {
	background-color: #c6002b;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px black;
	margin: 5px;
    margin-bottom: 60px;
    height: 210px;
}


#articleAjout p {
	padding: 10px;
	color: white;
}

#lienRechercheNum {
	text-decoration: none;
	height: 210px;
	margin-top: 30px;
	margin-bottom: 50px;
}

#articleRecherche {
	background-color: #5e0d0e;
	padding-top: 20px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px black;
	margin: 5px;
    margin-bottom: 60px;
    height: 210px;
}

#articleRecherche p {
	color: white;
	padding: 10px;
}

#modal {
	position: fixed;
	background-color: grey;
	height: 100%;
	width: 100%;
	top: 0%;
	background: rgba(169, 169, 169, 0.7);
	transition: opacity 0.5s;
	opacity: 0;
	display: none;
}

#formRechercheNum {
	text-align: center;
	background-color: white;
	position: absolute;
	width: 60%;
	left: 20%;
	top: 40%;
	transition: opacity 0.5s;
	padding: 20px;
	border-radius: 10px;
}

#formRechercheNum h4 {
	color: #5e000e;
}

#numeroRecherche {
	margin: 20px;
	border-radius: 5px;
	border: none;
	border: 1px solid #5e000e;
}

#croix {
	position: absolute;
	right: 5%;
	top: 5%;
	text-decoration: none;
	color: #c6002b;
	font-weight: bold;
}

#submitRechercheNum {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	border: none;
	background-color: #c6002b;
	color: white;
	cursor: pointer;
}

#headerNumeros {
	color: white;
	background-color: #343434;
	padding: 20px;
}

#sectionNumeros {
	background-color: #E6E6E6;
	
}

.articlesNumeros {
	background-color: white;
	margin-top: 20px;
	padding: 10px;
	box-shadow: 0px 0px 2px black;
	width: 100%;
}

.spanNumeros {
	font-size: 25px;
	color: #c6002b;
	font-weight: bold;
}

.commentairesAccueilFirst {
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 0px 2px black;
	height: 0px;
	
	max-height: 0px;
	-webkit-transition: height 0.75s;
	-moz-transition: height 0.75s;
	-o-transition: height 0.75s;
	transition: height 0.75s;

	-webkit-transition: max-height 0.75s;
	-moz-transition: max-height 0.75s;
	-o-transition: max-height 0.75s;
	transition: max-height 0.75s;
	border-bottom: 1px solid grey;
}

.divPlusCom {
	height: 0px;
	border: 1px solid grey; 
	border-top: none;
	text-align: center;
	overflow: hidden;
	background-color: white;
}

.lienPlusCom {
	text-decoration: none; 
	color: #c6002b;
}

#sectionAjout {
	margin-top: 25px;
}

.seeComents {
	color: #c6002b;
}

.hideComments {
	color: #c6002b;
}

.seeComents:hover {
	color: #c6002b;
}

.hideComments:hover {
	color: #c6002b;
}

#divFormSignal {
	position: absolute;
	width: 80%;
	left: 10%;
	top: 20%;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
}

#divFormSignal h5 {
	margin-bottom: 20px;
	text-align: center;
	color: #5e000e;
}



#css {
	padding: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 15px;
}

#textAutreRaison {
	width: 90%;
	left: 5%;
	height: 100px;
	height: 0px;
	opacity: 0;
	-webkit-transition: opacity 0.75s;
	-moz-transition: opacity 0.75s;
	-o-transition: opacity 0.75s;
	transition: opacity 0.75s;
}

#signaler {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #c6002b;
	background-color: #c6002b;
	color: white;
	border-radius: 5px;
	text-align: center;
}

#modalForm {
	position: fixed;
	background-color: grey;
	height: 100%;
	width: 100%;
	top: 0%;
	background: rgba(169, 169, 169, 0.7);
	transition: opacity 0.5s;
	opacity: 0;
	display: none;
}

#croixSignal {
	text-decoration: none;
	position: absolute;
	top: 3%;
	right: 5%;
	color: #c6002b;
	font-weight: bold;
}

#croixSignal:hover {
	text-decoration: none;
}

#reponseSignal {
	margin-top: 20px;
	border: 1px solid #c6002b;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
}


@media screen and (max-width: 576px) { 			/* largeur mobile */

  	#titreAccueil {
  		display: none;
  	}

  	#sectionAccueil img {
  		display: none;
  	}

  	#articleAjout img {
  		margin-top: 15px;

  	}

  	#articleRecherche img {

  		margin-top: 15px;

  	}

  	#formRechercheNum input {
  		margin: 0px;
  		width: 100%;
  	}


}



@media screen and (min-width: 576px) { 			/* largeur mobile */

  	#formRechercheNum {
  		width: 50%;
  		left: 25%;
  	}

  	#sectionAccueil img {
  		display: block;
  	}

  	#articleAjout img {
  		margin-top: 25px;

  	}

  	#articleRecherche img {

  		margin-top: 25px;

  	}

  	#formSignal {
  		width: 80%;
  	}

  	#css {
  		width: 60%;
  		margin-left: 30%;
  	}

}

@media screen and (min-width: 768px) { 			/* largeur mobile */

  	#sectionAccueil img {
		width: 80%;
		margin-left: 10%;
	}

	#formRechercheNum {
  		width: 40%;
  		left: 30%;
  	}

  	#divFormSignal {
  		width: 70%;
  		left: 15%;
  	}

}

@media screen and (min-width: 992px) { 			/* largeur mobile */

  	#sectionAccueil img {
		width: 70%;
		margin-left: 15%;
	}

	#headerDiv2 {
		font-size: 20px;
	}

	#formRechercheNum {
  		width: 30%;
  		left: 35%;
  	}

  	#divFormSignal {
  		width: 50%;
  		left: 25%;
  	}


}

@media screen and (min-width: 1200px) { 			/* largeur mobile */

  	#sectionAccueil img {
		width: 50%;
		margin-left: 25%;
	}

	#formRechercheNum {
  		width: 20%;
  		left: 40%;
  	}

  	#css {
  		margin-left: 33%;
  	}

}

